* {
	margin: 0;
	padding: 0;
}
:root {
	--theme-bg: rgb(224, 221, 221);
	--theme-color: blue;
}
html {
	font-size: 62.5%;
	font-family: Arial;
}
body {
	background-color: var(--theme-bg);
}
.container {
	background-color: var(--theme-bg);
	height: 100vh;
	width: 100%;
}
.search__content {
	padding: 10rem 1rem 0 2rem;
	height: 70vh;
	transition: 0.3s all ease;
	z-index: 999;
}
.logo {
	font-size: 3rem;
}
button.fa-search {
	font-size: 2rem;
	background: transparent;
	border: none;
	position: absolute;
	left: 80%;
	top: 25%;
}
input.search__bar {
	padding: 0.8rem;
	border-radius: 0.5rem;
	border: none;
	margin: 2rem 0 0 0;
	width: 85%;
	outline: none;
}
.hidden {
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(1);
}
.previous__page {
	margin: 4rem 0 0 2rem;
}
.previous__page button {
	background: transparent;
	border: none;
	font-size: 1.4rem;
	color: var(--theme-color);
	display: flex;
	align-items: center;
}
.previous__page i {
	font-size: 2rem;
	margin: 0 0.6rem 0 0;
}
.result__container {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.3s all ease;
	padding: 0rem 0 0 0;
}
.result__container h1 {
	margin: 10rem 0 0 2rem;
	font-size: 4rem;
}
.pronounce {
	margin: 0.9rem 0 0 2rem;
	font-size: 1.5rem;
}
.phonetics__text {
	color: var(--theme-color);
}
.main__text {
	display: flex;
	align-items: center;
	margin: 1.2rem 0 0.7rem 2rem;
}
.main__text h3 {
	font-weight: 900;
}
.main__text span.inter__num,
span.noun_num,
span.verb__num,
.syn__num,
.ant__num {
	margin: 0 0 0 1rem;
	color: rgba(128, 128, 128, 0.644);
}
.type__container {
	display: flex;
	margin: 2rem 1rem 2rem 2rem;
}
.type__container button {
	border: 1px solid var(--theme-color);
	padding: 0.5rem;
	width: 40%;
	color: var(--theme-color);
}
.type__container button.active {
	color: white;
	background-color: var(--theme-color);
}
.type__container button:nth-child(1) {
	border-radius: 0.8rem 0 0 0.8rem;
}
.type__container button:nth-child(2) {
	border-radius: 0;
}
.type__container button:nth-child(3) {
	border-radius: 0 0.8rem 0.8rem 0;
}
.definition__text {
	margin: 0.5rem 0.5rem 0 2rem;
	font-size: 1.3rem;
}
.index {
	font-weight: 900;
}
button.fa-volume-up {
	background: none;
	border: none;
}
.noun__word__example,
.verb__word__example,
.inter__word__example {
	margin: 1.5rem 0.5rem 0 2rem;
	width: 80%;
}
.view {
	color: blue;
}
.fa-volume-up {
	margin: 0 0 0 0.9rem;
	color: var(--theme-color);
}
.intro__text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.show {
	display: block;
}
.clear {
	display: none;
}
.interjection {
	position: absolute;
	z-index: 10;
}
.noun {
	position: absolute;
	z-index: 4;
}
.verb {
	position: absolute;
	z-index: 3;
}
.active__content {
	display: block;
}
.error__container {
	background-color: var(--theme-bg);
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
}
.error__container h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.error__btn {
	margin: 3rem 0 0 0;
	padding: 0.5rem 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	text-align: center;
	border-radius: 0.5rem;
	border: 0.2rem black;
}
footer{
position: absolute;
bottom:7%;
width:100%;
text-align: center;
color: var(--theme-color);
font-size: 1.5rem;
}
footer a{
text-decoration:none;
color: var(--theme-color);
}
@media only screen and (min-width: 360px) {
	.container {
		height: 90vh;
	}
	input.search__bar {
		padding: 1.4rem;
		width: 85%;
	}
}
@media only screen and (min-width: 1024px) {
	.container {
		height: 90vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	input.search__bar {
		width: 50%;
	}
	button.fa-search {
		left: 48%;
		top: 27%;
		cursor: pointer;
	}
	.type__container button {
		width: 15%;
		cursor: pointer;
	}
	.previous__page button {
		cursor: pointer;
	}
}
